# SMTP Mail Server hostname (e.g. smtp.gmail.com or mail.yourdomain.com)
SMTP_HOST=

# SMTP Server port (e.g. 587 for TLS or 465 for SSL)
SMTP_PORT=587

# SMTP Authentication Username (e.g. your-email@domain.com)
SMTP_USER=

# SMTP Authentication Password or App Password
SMTP_PASS=

# Destination email address to receive website enquiries (e.g. info@maaindustries.com)
CONTACT_TO_EMAIL=
